source-repository-package
    type: git
    location: https://github.com/space-vacuum/aeson-shim.git
    tag: cd4441016d1946f689ddee6969b9877515610afa
packages:
    gen
  , core
  , test
  , examples
  , amazonka
-- GENERATED
  , amazonka-apigateway
  , amazonka-dynamodb
  , amazonka-ec2
  , amazonka-s3
  , amazonka-sqs
-- END GENERATED
